@import "./variables";

html,
body {
	height: 100%;
}

body {
	font: 400 14px/1.5 $font_main;
}

#root {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100%;

	&._hidden {
		overflow: hidden !important;
	}
}

/* Position */
[class*="pos-abs"] {
	position: absolute;
}

.pos {
	position: relative;

	&-abs {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&-abs-y {
		top: 50%;
		transform: translate(0, -50%);
	}

	&-abs-x {
		left: 50%;
		transform: translate(-50%, 0);
	}
}

/* Image */
[class*="image-"] {
	width: 100%;
	height: 100%;
}

.image {
	&-cover {
		object-fit: cover;
	}

	&-contain {
		object-fit: contain;
	}
}

/* Scroll */
[class*="scroll-"] {
	-webkit-overflow-scrolling: touch;
}

.scroll {
	&-y {
		overflow: hidden auto;
		padding-right: 8px;
	}

	&-x {
		overflow: auto hidden;
	}
}

/* Cursor */
.cursor {
	&-pointer {
		cursor: pointer !important;
	}

	&-default {
		cursor: default !important;
	}
}

/* Z index */
.z {
	&-1 {
		z-index: 1;
	}

	&-n1 {
		z-index: -1;
	}
}
